 * {
    box-sizing: border-box;
}
body {
    margin:0;
    padding:0;
    font-family: Arial, Helvetica, sans-serif;
    background-image: url('resources/home/background.avif');
    background-size: cover;
    background-attachment: fixed;
    background-repeat: no-repeat;
    color: rgb(255 128 15);
    text-shadow: 2px 2px 4px rgba(255 255 0 .75);
}
#maincontainer {
    width: 90vw;
    min-height: 95vh;
    margin: 1% auto;
    border-radius: 10px;
    border-color: rgb(255 128 15);
    border-style: solid;
    border-width: 2px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
#footer p {
    width: 80vw;
    margin: 0 auto;
    background-color: black;
    border-radius: 10px;
    border-color: rgb(255 128 15);
    border-style: solid;
    border-width: 2px;
    padding: 5px;
    text-align: center;
}
#header, #footer {
    width: 90vw;
    text-align: center;
    padding: 5px;
    margin: 2px;
    border-radius: 10px;
}
#header h1 {
    font-size: 7vh;
    width: 80vw;
    margin: 10px auto;
    padding: 5px;
    background-color: black;
    border-radius: 10px;
    border-color: rgb(255 128 15);
    border-style: solid;
    border-width: 2px;
}
#tabcontainer {
    width: 80vw;
    display: flex;
    justify-content: center;
    margin: 20px;
    z-index: 1;
}
#tabcontainer div {
    flex: 1;
    text-align: center;
    padding: 10px;
    margin: 0 5px;
    background-color: black;
    border-radius: 10px;
    border-color: rgb(255 128 15);
    border-style: solid;
    border-width: 2px;
    cursor: pointer;
    font-size: 2.5vh;
}
#tabcontainer div:hover {
    background-color: rgb(53, 62, 67);
}
#tabcontent {
    width: 80vw;
    flex: 1;
    margin: 10px auto;
    padding: 10px;
    background-color: rgba(52, 63, 67, 0.75);
    border-radius: 10px;
    border-color: rgb(255 128 15);
    border-style: solid;
    border-width: 2px;
    overflow: auto;
    text-align: center;
}
#tabcontent h1 {
    font-size: 2.5vh;
    margin: 10px auto;
    padding: 5px;
    background-color: black;
    border-radius: 10px;
    border-color: rgb(255 128 15);
    border-style: solid;
    border-width: 2px;
    width: 80%;
}
#tabcontent p {
    font-size: 2vh;
    margin: 10px auto;
    padding: 5px;
    background-color: black;
    border-radius: 10px;
    border-color: rgb(255 128 15);
    border-style: solid;
    border-width: 2px;
    width: 80%;
    text-align: left;
}
#img1, #img2, #img3 {
    max-width: 20vw;
    height: auto;
    border: 3px solid rgb(255 128 15);
    border-radius: 10px;
    margin: 10px;
}
#img1:hover, #img2:hover, #img3:hover {
    border: 3px solid rgb(255 200 50);
    cursor: pointer;
}
#imgcontainer img {
    width: 80vw;
    height: 80vh;
    margin: 20px;
    border: 3px solid rgb(255 128 15);
    border-radius: 10px;
    box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.5);
    position: absolute;
    top: 13%;
    left: 9%;
    cursor: pointer;
    z-index: 3;
}
#imgcontainer span {
    position: fixed;
    top: 10px;
    right: 10px;
    font-size: 3vh;
    color: rgb(255 128 15);
    background-color: black;
    border-radius: 10px;
    border: 2px solid rgb(255 255 0);
    padding: 5px 10px;
    cursor: pointer;
    z-index: 1;
}
#imgcontainer span:hover {
    background-color: rgb(53, 62, 67);
    border-color: rgb(255 128 15);
}
#downloadimg1, #downloadimg2, #downloadimg3 {
    border: 3px solid rgb(255 128 15);
    border-radius: 10px;
    margin: 10px;
    cursor: pointer;
}
#downloadimg1:hover, #downloadimg2:hover, #downloadimg3:hover {
    border: 3px solid rgb(255 200 50);
    cursor: pointer;
}
#mailimg {
    border: 2px solid rgb(255 128 15);
    border-radius: 10px;
    margin: 10px;
}
#previewcontainer {
    width: 80vw;
    height: 80vh;
    margin: 10px;
    padding: 5px;
    background-color: rgba(52, 63, 67, 0.75);
    border-radius: 10px;
    border-color: rgb(255 128 15);
    border-style: solid;
    border-width: 2px;
    overflow-y: scroll;
    display: none;
    position: absolute;
    top: 13%;
    left: 10%;
    z-index: 2;
}
#previewcontainer h1 {
    font-size: 2.5vh;
    margin: 10px auto;
    padding: 5px;
    background-color: black;
    border-radius: 10px;
    border-color: rgb(255 128 15);
    border-style: solid;
    border-width: 2px;
    width: 80%;
    text-align: center;
}
#imgholder {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
#previewcontainer img {
    margin: 5px;
    border: 3px solid rgb(255 128 15);
    border-radius: 10px;
}
#previewcontainer img:hover {
    border: 3px solid rgb(255 200 50);
    cursor: pointer;
}
#previewcontainer iframe {
    margin: auto;
    border: 3px solid rgb(255 128 15);
    border-radius: 10px;
}
#previewcontainer iframe:hover {
    border: 3px solid rgb(255 200 50);
    cursor: pointer;
}
.closepreviewbtn {
    float: right;
    background-color: black;
    color: rgb(255 128 15);
    border: 2px solid rgb(255 128 15);
    border-radius: 10px;
    padding: 5px 10px;
    cursor: pointer;
    z-index: 1;
}
.closepreviewbtn:hover {
    background-color: rgb(53, 62, 67);
}
#preview_select {
    font-size: 2vh;
    padding: 5px;
    margin: 10px;
    border-radius: 10px;
    border: 3px solid rgb(255 128 15);
    background-color: black;
    color: rgb(255 128 15);
}
#preview_select:hover {
    border: 3px solid rgb(255 200 50);
    cursor: pointer;
}
#preview_select option {
    background-color: black;
    color: rgb(255 128 15);
}
#preview_select option:hover {
    background-color: rgb(53, 62, 67);
    cursor: pointer;
}
#loadpreviewbtn {
    font-size: 2vh;
    padding: 5px 10px;
    margin: 10px;
    border-radius: 10px;
    border: 3px solid rgb(255 128 15);
    background-color: black;
    color: rgb(255 128 15);
    cursor: pointer;
}
#linknavcont {
    display: flex;
    justify-content: center;
}
#linknavcont div {
    flex: 1;
    text-align: center;
    cursor: pointer;
    width: 25vw;
    margin: 5px;
    padding: 5px 10px;
    border: 2px solid rgb(255 128 15);
    border-radius: 10px;
    background-color: black;
    color: rgb(255 128 15);
}  
#linknavcont div:hover {
    background-color: rgb(53, 62, 67);
    border-color: rgb(255 255 0);
}       
#tabcontent a {
    text-decoration: none;
    color: rgb(255 128 15);
}
#tabcontent a:hover {
    text-decoration: underline;
    color: rgb(255 255 255);
}