/* main tab container */
* {
    box-sizing: border-box;
}
body {
    margin:0;
    padding:0;
    font-family: Arial, Helvetica, sans-serif;
    background-image: url('resources/home/background.avif');
    background-size: 100vw 100vh;
    background-attachment: fixed;
    background-repeat: no-repeat;
    color: rgb(255, 255, 230);
}
#maincontainer {
    width: 95vw;
    height: 95vh;
    border-radius: 10px;
    border-color: rgb(0, 255, 0);
    border-bottom-style: outset;
    border-width: 5px;
    margin: 2vh auto;
    padding: 10px;
    background-color: rgba(0, 0, 0, 0.75);
    box-shadow: 5px 5px 15px rgba(0, 255, 0, 1);
}
#maincontainer h1 {
    text-align: center;
    font-size: 30px;
    margin: auto;
    padding: 5px;
    border-radius: 10px;
    border-color: rgb(0, 255, 0);
    border-bottom-style: outset;
    border-width: 5px;
    width: 90vw;
}
/* all tabs */
#tabcontainer {
    width: 85vw;
    justify-content: center;
    padding: 5px;
    align-items: center;
    display: flexbox;
}
#tabcontainer div {
    text-align: center;
    flex: content;
    padding: 3px 10px;
    margin: 5px;
}
#tab1, #tab2, #tab3, #tab4, #tab5, #tab6, #tab7 {
    background-color: rgb(0, 0, 0);
    color: rgb(255, 255, 230);
    border-radius: 10px;
    border-top: 3px outset rgb(255, 235, 200);
}
#tab1:hover, #tab2:hover, #tab3:hover, #tab4:hover, #tab5:hover, #tab6:hover, #tab7:hover {
    background-blend-mode: lighten;
    background-color: rgb(53, 62, 67);
}
#tab3 {
    border-top-color:rgb(57, 255, 20);
    
}
#tab1:hover {
    border-top-color:rgb(255, 165, 0);
    
}
#tab4:hover {
    border-top-color: rgb(0, 0, 255);
}
#tab5:hover {
    border-top-color: rgb(255, 0, 255);
}
#tab6:hover {
    border-top-color: rgb(255, 255, 0);
}
#tab7:hover {
    border-top-color: rgb(255, 0, 0);
}
/* all tabs content */
#tabcontent {
    width: 80%;
    height: 90%;
    margin: 2.5% auto;
    padding: 5px;
    background-color: rgba(52, 63, 67, 0.75);
    border-radius: 10px;
    border-color: rgb(255, 255, 255);
    border-bottom-style: outset;
    border-width: 4px;
    overflow-y: scroll;
    text-align: center;
    box-shadow: 2px 4px 10px rgba(255, 255, 255, 1);
}
#tabcontent h2 {
    margin: 5px auto;
    padding: 10px;
    background-color: black;
    text-align: center;
    font-size: 22px;
}
/* home tab */
#home_container {
    margin: 5vh auto;
    padding: 15px;
    background-color: rgba(0, 0, 0, 0.75);
    border-radius: 10px;
    border-bottom-color: rgb(255 165 0);
    border-top-color: rgb(255 235 200);
    border-bottom-style: outset;
    border-top-style: outset;
    border-width: 3px;
    width: 95%;
    height: max-content;
    text-align: center;
}
#home_tab_img_container {
    margin: 5% auto;
    padding: 5px;
    gap: 10px;
}
/* build theme */
#build_container {
    margin: 1% auto;
    padding: 15px;
    background-color: black;
    border-radius: 10px;
    border-color: rgb(0 0 255);
    border-bottom-style: outset;
    border-width: 2px;
    width: 95%;
    height: max-content;
    text-align: center;
}
#download_csm_btn {
    padding: 5px 10px;
    margin: 10px auto;
    border-radius: 10px;
    border-top: 2px outset rgb(255 128 15);
    background-color: black;
    color: rgb(255 255 230);
    cursor: pointer;
    display: none;
}
#download_csm_btn:hover {
    border-color:  rgb(255 200 50);
    background-color: rgb(53, 62, 67);
}
/* build gui */
#build_gui_container {
    margin: 2.5% auto;
    padding: 15px;
    background-color: black;
    border-radius: 10px;
    border-color: rgb(255 128 15);
    border-style: solid;
    border-width: 2px;
    width: 94%;
    text-align: center;
}
#build_gui_container h1 {
    font-size: 24px;
    border-style: none;
    width: auto;
}
/* gallery tab */
#theme_img_enlarged {
    width: 80vw;
    height: 75vh;
    margin: 5px auto;
    padding: 5px;
    background-color: rgba(52, 63, 67, 0.75);
    border-radius: 10px;
    border-color: rgb(255, 255, 240);
    border-bottom-style: outset;
    border-top-style: outset;
    border-width: 5px;
    overflow-y: scroll;
    display:none;
    z-index: 20;
    position: absolute;
    top: 15vh;
    left: 10vw;
}
#theme_gallery {
    margin: 1vh auto;
    padding: 5px;
    background-color: black;
    border-radius: 10px;
    border-color: rgb(255 128 15);
    border-style: solid;
    border-width: 2px;
    width: 95%;
    text-align: center;
}
#save_menu_btn, #delete_menu_btn {
    float: left;
    border-radius: 10px;
    border-top: 3px solid rgb(255 128 15);
    background-color: black;
    color: rgb(255 128 15);
    cursor: pointer;
    padding: 5px 15px;
    margin-top: 0;
}
#selected_region {
    float: right;
}
#select_region, #select_region_label {
    float: right;
    margin-left: 10px;
    margin-top: 5px;
    padding-left: 10px;
}
 #select_region_label {
    margin-top: 10px;
}
#preview_select, #select_version, #select_region {
    padding: 5px;
    margin: 5px;
    border-radius: 10px;
    border-top: 2px solid rgb(255 128 15);
    background-color: black;
    color: rgb(255 128 15);
}
#preview_select:hover, #select_version:hover, #select_region:hover {
    border: 2px solid rgb(255 200 50);
    cursor: pointer;
}
#preview_select option, #select_version option, #select_region option {
    background-color: black;
    color: rgb(255 128 15);
}
#preview_select option:hover, #select_version option:hover, #select_region option:hover {
    background-color: rgb(53, 62, 67);
    cursor: pointer;
}
#preview_get_theme_btn:hover, #begin_build_btn:hover, #save_menu_btn:hover, #delete_menu_btn:hover {
    border: 3px solid rgb(255 200 50);
    background-color: rgb(53, 62, 67);
    color: rgb(255 255 255);
}
#preview_filter, #spin_color {
    padding: 5px;
    margin: 5px;
    border-radius: 10px;
    border: 2px solid rgb(255 128 15);
    background-color: black;
    color: rgb(255 128 15);
    cursor: pointer;
}
#preview_filter:hover, #spin_color:hover {
    border: 2px solid rgb(255 200 50);
}
#preview_filter option, #spin_color option {
    background-color: black;
    color: rgb(255 128 15);
    cursor: pointer; 
}
#spin_color_container, #spin_option_container {
    width: 45%;
    text-align: center;
    display: inline-block;
}
#spin_color_label, #spin_color {
    margin: 0 5px;
}
#fastspin, #spin, #nospin, #fastspinlabel, #spinlabel, #nospinlabel {
    margin: 0 5px;
    cursor: pointer;
}
#source_file_save, #trans_channels {
    margin: 5px;
}
#source_file_save_label, #trans_channels_label {
    margin: 5px;
}
#source_file_container, #trans_channels_container {
    width: 40%;
    text-align: center;
    display: inline-block;
}
#begin_build_btn {
    padding: 5px 20px;
    margin-left: 10px;
    margin-top: 10px;
    border-radius: 10px;
    border: 3px solid rgb(255 128 15);
    background-color: black;
    color: rgb(255 128 15);
    cursor: pointer;
}
#preview_filter option:hover, #spin_color option:hover {
    background-color: rgb(53, 62, 67);
}
#loadnextbtn, #loadprevbtn {
    padding: 5px 10px;
    margin: 5px 15px;
    border-radius: 10px;
    border: 2px solid rgb(255 128 15);
    background-color: black;
    color: rgb(255 128 15);
    cursor: pointer;
}
#loadnextbtn:hover, #loadprevbtn:hover {
    border: 2px solid rgb(255 200 50);
    background-color: rgb(53, 62, 67);
}
#preview_get_theme_btn {
    padding: 5px 15px;
    margin-left: 10px;
    margin-top: 10px;
    border-bottom: 3px solid rgb(255 128 15);
    background-color: black;
    color: rgb(255 128 15);
    cursor: pointer;
    float: left;
    font-size: 18px;
}
#num_theme_downloads {
    float: right;
    margin: 0 10px;
}
#preview_mainimg, #preview_secondaryimg {
    border: 5px solid rgb(255 128 15);
    border-radius: 10px;
    margin: 10px;
    cursor: pointer;
}
#preview_mainimg:hover, #preview_secondaryimg:hover {
    border: 5px solid rgb(255 200 50);
    cursor: pointer;
}
#preview_video {
    border: 5px solid rgb(255 128 15);
    border-radius: 10px;
    margin: 10px;
}
/* downloads tab */
#theme_installers {
    margin: 2.5% auto;
    padding: 15px;
    background-color: black;
    border-radius: 10px;
    border-color: rgb(0 0 255);
    border-bottom-style: outset;
    border-width: 3px;
    width: 95%;
    height: 90%;
    text-align: center;
}
#downloadimg1, #downloadimg2, #downloadimg3 {
    border-bottom: 5px outset rgb(0 0 255);
}
#homeimg1, #homeimg2, #homeimg3 {
    border-bottom: 5px outset rgb(255 128 0);
}
#downloadimg1, #downloadimg2, #downloadimg3, #homeimg1, #homeimg2, #homeimg3 {
    border-top: 5px outset rgb(255 255 240);
    border-radius: 10px;
    margin: 10px;
    cursor: pointer;
}
#downloadimg1:hover, #downloadimg2:hover, #downloadimg3:hoverr {
    border-top-color: rgb(255 255 0);
    border-bottom-color: rgb(255 255 240);
    cursor: pointer;
}
#homeimg1:hover, #homeimg2:hover, #homeimg3:hover {
    border-top-color: rgb(255 255 0);
    border-bottom-color: rgb(255 255 240);
    cursor: pointer;
}
/* stats tab */
#stats_message{
    margin: 2.5% auto;
    padding: 15px;
    background-color: black;
    border-radius: 10px;
    border-color: rgb(255 255 0);
    border-bottom-style: outset;
    border-width: 4px;
    width: 95%;
    text-align: left;
}
#show_more_wii, #show_more_vwii, #showlessbtn1, #showlessbtn2 {
    display: none;
}
#showmorebtn1, #showmorebtn2, #showlessbtn1, #showlessbtn2 {
    background-color: black;
    color: rgb(255 255 230);
    margin: 0 20px;
    cursor: pointer;
    border-radius: 10px;
    border-top: 3px outset rgb(255 255 0);
    padding: 5px 10px;
}
#showmorebtn1:hover, #showmorebtn2:hover, #showlessbtn1:hover, #showlessbtn2:hover {
    background-color: rgb(53, 62, 67);
    border-top-color: rgb(255 255 240);
}
#visitor_count, #wii_downloads, #vwii_downloads, #themecount, #uwii, #ewii, #jwii, #kwii, #uvwii, #evwii, #jvwii {
    float: right;
    margin-right: 10px;
    clear: both;
}
/* links tab */
#links_container {
    margin: 1.5% auto;
    padding: 15px;
    background-color: black;
    border-radius: 10px;
    border-color: rgb(255 0 255);
    border-bottom-style: outset;
    border-width: 3px;
    width: 95%;
    height: 90%;
    text-align: left;
}
#links_container  h3 {
    text-decoration: underline;
}
#links_container a {
    text-decoration: none;
    color: rgb(255 95 0);
}
#links_container a:hover {
    color: rgb(255 255 255);
}
#arrow {
    text-align: center;
}
/* mail tab */
#mail_img_container {
    border-bottom: 5px outset rgb(255 0 0);
    border-radius: 10px;
    margin: 10px auto; 
    width: 30%;
}
@media screen and (max-width: 600px) {
    #mailimg {
        width: 250px;
        height: 125px;
    }
    #mail_message {
        padding: 3px;
        margin: 3px auto;
    }
}
#mail_message {
    margin: 2% auto;
    padding: 15px;
    background-color: black;
    border-radius: 10px;
    border-top-color: rgb(255 255 255);
    border-bottom-color: rgb(255 0 0);
    border-bottom-style: outset;
    border-top-style: outset;
    border-width: 3px;
    width: 95%;
    height: 90%;
    text-align: center;
}
#mail_message a{
    text-decoration: none;
    color: rgb(255 95 0);
}
#mail_message a:hover {
    text-decoration: underline;
    color: rgb(255 255 255);
}
/* footer */
#footer {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
}
#footer p {
    width: 30vw;
    margin: 0 auto;
    background-color: black;
    border-radius: 10px;
    border-color: rgb(0 255 0);
    border-bottom-style: outset;
    border-width: 2px;
    padding: 5px 0;
    text-align: center;
    height: max-content;
}

/* classes */
/* --------------------------------------------------------- */
/* element display */
.flexrow {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
}
.flexcolumn {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}
/* close button */
.closepreviewbtn {
    float:right;
    background-color: black;
    color: rgb(255 255 230);
    border: 2px solid rgb(255 255 240);
    border-radius: 10px;
    padding: 5px 10px;
    cursor: pointer;
    z-index: 5;
}
.closepreviewbtn:hover {
    background-color: rgb(53, 62, 67);
}
/* links tab */
.links_page {
    width: 60%;
    margin: 10px auto;
}