 * {
    box-sizing: border-box;
}
body {
    margin:0;
    padding:0;
    font-family: Arial, Helvetica, sans-serif;
    background-image: url('resources/home/background.avif');
    background-size: 100vw 100vh;
    background-attachment: fixed;
    background-repeat: no-repeat;
    color: rgb(255, 128, 0);
}

#maincontainer {
    width: 95vw;
    height: 95vh;
    border-radius: 10px;
    border-color: rgb(255, 128, 15);
    border-style: solid;
    border-width: 5px;
    margin: 2vh auto;
    padding: 10px;
    background-color: rgba(0, 0, 0, 1);
    box-shadow: 5px 5px 15px rgba(255, 128, 15, 1);
}
#maincontainer h1 {
    text-align: center;
    font-size: 5vh;
    margin: 10px auto;
    padding: 5px;
    border-radius: 10px;
    border-color: rgb(255, 128, 15);
    border-style: solid;
    border-width: 3px;
    width: 80vw;
}

#tabcontainer {
    width: 80vw;
    justify-content: center;
    margin: 5px;
    padding: 5px;
    align-items: center;
}
#tabcontainer div {
    text-align: center;
    flex: content;
    padding: 10px;
    margin: 3px;
   
}
#tabcontainer div:hover {
    background-color: rgb(53, 62, 67);
    border-color: rgb(255, 255, 0);
    color: rgba(255, 255, 255, 1);
}

#tabcontent {
    width: 80vw;
    height: 65vh;
    margin: 5px auto;
    padding: 5px;
    background-color: rgba(52, 63, 67, 0.75);
    border-radius: 10px;
    border-color: rgb(255, 128, 15);
    border-style: solid;
    border-width: 2px;
    overflow-y: scroll;
    text-align: center;
}
#tabcontent h1 {
    margin: 10px auto;
    padding: 10px;
    background-color: black;
    border-radius: 10px;
    border-color: rgb(255 128 15);
    border-style: solid;
    border-width: 2px;
    width: 95%;
    text-align: center;
    font-size: 2vh;
}
#home_message, #mail_message {
    margin: 5vh auto;
    padding: 15px;
    background-color: black;
    border-radius: 10px;
    border-color: rgb(255 128 15);
    border-style: solid;
    border-width: 2px;
    width: 95%;
    text-align: center;
}
#mail_message a{
    text-decoration: none;
    color: rgb(255 128 15);
}
#mail_message a:hover {
    text-decoration: underline;
    color: rgb(255 255 255);
}
#home_tab_img_container {
    margin: 5% auto;
    padding: 5px;
    gap: 10px;
}
#home_tab_img_container img {
    border: 3px solid rgb(255 128 15);
    border-radius: 10px;
    cursor: pointer;
}
#home_tab_img_container img:hover {
    border: 3px solid rgb(255 200 50);
}
#home_tab_img_enlarged {
    width: 99%;
    height: 99%;
    border: 3px solid rgb(255 128 15);
    border-radius: 10px;
    margin: 10px auto;
}
#stats_message{
    margin: 5vh auto;
    padding: 15px;
    background-color: black;
    border-radius: 10px;
    border-color: rgb(255 128 15);
    border-style: solid;
    border-width: 2px;
    width: 95%;
    text-align: left;
}
#visitor_count, #wii_downloads, #vwii_downloads, #themecount {
    float: right;
    margin-right: 10px;
}

#mailimg {
    border: 5px solid rgb(255 128 15);
    border-radius: 20px;
    margin: 10px auto;
}

#footer p {
    width: 80vw;
    margin: 0 auto;
    background-color: black;
    border-radius: 10px;
    border-color: rgb(255 128 15);
    border-style: solid;
    border-width: 2px;
    padding: 5px 0;
    text-align: center;
}

.flexrow {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
}
.flexcolumn {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}
.tab {
    border-radius: 10px;
    border-style: solid;
    border-width: 2px;
    cursor: pointer;
}
.tab_active {
    background-color: rgb(255, 128, 15);
    border-color: rgb(255, 255, 0);
    color: rgb(255, 255, 255);
}
.tab_inactive {
    background-blend-mode: lighten;
    background-color: rgba(0, 0, 0, 1);
    border-color: rgb(255, 128, 15);
    color: rgb(255, 128, 15);
}
.closepreviewbtn {
    float:right;
    background-color: black;
    color: rgb(255 128 15);
    border: 2px solid rgb(255 128 15);
    border-radius: 10px;
    padding: 5px 10px;
    cursor: pointer;
    z-index: 5;
}
.closepreviewbtn:hover {
    background-color: rgb(53, 62, 67);
}

/*

#header, #footer {
    width: 90vw;
    text-align: center;
    padding: 5px;
    margin: 2px;
    border-radius: 10px;
}
#header h1 {
    font-size: 5vh;
    width: 80vw;
    margin: 10px auto;
    padding: 5px;
    background-color: black;
    border-radius: 10px;
    border-color: rgb(255 128 15);
    border-style: solid;
    border-width: 2px;
}

#tabcontent {
    width: 80vw;
    height: 70vh;
    margin: 5px auto;
    padding: 5px;
    background-color: rgba(52, 63, 67, 0.75);
    border-radius: 10px;
    border-color: rgb(255 128 15);
    border-style: solid;
    border-width: 2px;
    overflow-y: scroll;
    text-align: center;
}
#tabcontent h1 {
    margin: 5px auto;
    padding: 5px;
    background-color: black;
    border-radius: 10px;
    border-color: rgb(255 128 15);
    border-style: solid;
    border-width: 2px;
    width: 80%;
    text-align: center;
}
#tabcontent p {
    margin: 10px auto;
    padding: 15px;
    background-color: black;
    border-radius: 10px;
    border-color: rgb(255 128 15);
    border-style: solid;
    border-width: 2px;
    width: 80%;
    text-align: left;
}
#img1, #img2, #img3 {
    border: 3px solid rgb(255 128 15);
    border-radius: 10px;
    margin: 10px;
}
#img1:hover, #img2:hover, #img3:hover {
    border: 3px solid rgb(255 200 50);
    cursor: pointer;
}
#imgcontainer img {
    width: 90vw;
    height: 90vh;
    margin: 20px;
    border: 3px solid rgb(255 128 15);
    border-radius: 10px;
    box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.5);
    position: absolute;
    top: 5%;
    left: 5%;
    cursor: pointer;
    z-index: 3;
}
#imgcontainer span {
    position: fixed;
    top: 10px;
    right: 10px;
    color: rgb(255 128 15);
    background-color: black;
    border-radius: 10px;
    border: 2px solid rgb(255 255 0);
    padding: 5px 10px;
    cursor: pointer;
    z-index: 1;
}
#imgcontainer span:hover {
    background-color: rgb(53, 62, 67);
    border-color: rgb(255 128 15);
}


#downloadimg1, #downloadimg2, #downloadimg3 {
    border: 3px solid rgb(255 128 15);
    border-radius: 10px;
    margin: 10px;
    cursor: pointer;
}
#downloadimg1:hover, #downloadimg2:hover, #downloadimg3:hover {
    border: 3px solid rgb(255 200 50);
    cursor: pointer;
}
#mailimg {
    border: 2px solid rgb(255 128 15);
    border-radius: 10px;
    margin: 10px;
}
#previewcontainer {
    width: 80vw;
    height: 80vh;
    margin: 10px;
    padding: 5px;
    background-color: rgba(52, 63, 67, 0.75);
    border-radius: 10px;
    border-color: rgb(255 128 15);
    border-style: solid;
    border-width: 2px;
    overflow-y: scroll;
    display: none;
    position: absolute;
    top: 13%;
    left: 10%;
    z-index: 2;
}
#previewcontainer h1 {
    font-size: 2.5vh;
    margin: 10px auto;
    padding: 5px;
    background-color: black;
    border-radius: 10px;
    border-color: rgb(255 128 15);
    border-style: solid;
    border-width: 2px;
    width: 80%;
    text-align: center;
}
#imgholder {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
#previewcontainer img {
    margin: auto 0;
    border: 3px solid rgb(255 128 15);
    border-radius: 10px;
}
#previewcontainer img:hover {
    border: 3px solid rgb(255 200 50);
    cursor: pointer;
}
#previewcontainer iframe {
    margin: auto;
    border: 3px solid rgb(255 128 15);
    border-radius: 10px;
}
#previewcontainer iframe:hover {
    border: 3px solid rgb(255 200 50);
    cursor: pointer;
}

#preview_select {
    font-size: 2vh;
    padding: 5px;
    margin: 10px;
    border-radius: 10px;
    border: 3px solid rgb(255 128 15);
    background-color: black;
    color: rgb(255 128 15);
}
#preview_select:hover {
    border: 3px solid rgb(255 200 50);
    cursor: pointer;
}
#preview_select option {
    background-color: black;
    color: rgb(255 128 15);
}
#preview_select option:hover {
    background-color: rgb(53, 62, 67);
    cursor: pointer;
}
#loadpreviewbtn {
    font-size: 2vh;
    padding: 5px 10px;
    margin: 10px;
    border-radius: 10px;
    border: 3px solid rgb(255 128 15);
    background-color: black;
    color: rgb(255 128 15);
    cursor: pointer;
}
#linknavcont {
    display: flex;
    justify-content: center;
}
#linknavcont div {
    flex: 1;
    text-align: center;
    cursor: pointer;
    width: 25vw;
    margin: 5px;
    padding: 5px 10px;
    border: 2px solid rgb(255 128 15);
    border-radius: 10px;
    background-color: black;
    color: rgb(255 128 15);
}  
#linknavcont div:hover {
    background-color: rgb(53, 62, 67);
    border-color: rgb(255 255 0);
}       
#tabcontent a {
    text-decoration: none;
    color: rgb(255 128 15);
}
#tabcontent a:hover {
    text-decoration: underline;
    color: rgb(255 255 255);
}

#preview_get_theme_btn {
    font-size: 2.5vh;
    padding: 5px 10px;
    margin: 10px auto;
    border-radius: 10px;
    border: 3px solid rgb(255 128 15);
    background-color: black;
    color: rgb(255 128 15);
    cursor: pointer;
}
#preview_get_theme_btn:hover {
    border: 3px solid rgb(255 200 50);
    background-color: rgb(53, 62, 67);
    cursor: pointer;
}
#preview_filter {
    font-size: 2vh;
    padding: 5px;
    margin: 10px;
    border-radius: 10px;
    border: 3px solid rgb(255 128 15);
    background-color: black;
    color: rgb(255 128 15);
}
#preview_filter:hover {
    border: 3px solid rgb(255 200 50);
    cursor: pointer;
}
#preview_filter option {
    background-color: black;
    color: rgb(255 128 15);
}
#preview_filter option:hover {
    background-color: rgb(53, 62, 67);
    cursor: pointer;
}
#version_selected, #spin_color {
    font-size: 2vh;
    padding: 5px;
    margin: 10px;
    border-radius: 10px;
    border: 3px solid rgb(255 128 15);
    background-color: black;
    color: rgb(255 128 15);
    position: relative;
}
#version_selected:hover, #spin_color:hover {
    border: 3px solid rgb(255 200 50);
    cursor: pointer;
}
#version_selected option, #spin_color option {
    background-color: black;
    color: rgb(255 128 15);
}
#version_selected option:hover, #spin_color option:hover {
    background-color: rgb(53, 62, 67);
    cursor: pointer;
}
#region_selected {
    font-size: 2vh;
    padding: 5px;
    margin: 10px;
    border-radius: 10px;
    border: 3px solid rgb(255 128 15);
    background-color: black;
    color: rgb(255 128 15);
    position: relative;
}
#region_selected:hover {
    border: 3px solid rgb(255 200 50);
    cursor: pointer;
}
#region_selected option {
    background-color: black;
    color: rgb(255 128 15);
}
#region_selected option:hover {
    background-color: rgb(53, 62, 67);
    cursor: pointer;
}
#source_files, #trans_channels {
    cursor: pointer;
}
#source_files:hover, #trans_channels:hover {
    text-decoration: underline;
}  
#buildthemebtn {
    font-size: 2.5vh;
    padding: 5px 10px;
    margin: 10px auto;
    border-radius: 10px;
    border: 3px solid rgb(255 128 15);
    background-color: black;
    color: rgb(255 128 15);
    cursor: pointer;
}
#buildthemebtn:hover {
    border: 3px solid rgb(255 200 50);
    background-color: rgb(53, 62, 67);
    cursor: pointer;
}
#theme_dialog {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: rgba(52, 63, 67, 0.95);
    border: 2px solid rgb(255 128 15);
    border-radius: 10px;
    padding: 20px;
    z-index: 4;
    display: none;
    text-align: center;
    width: 60vw;
    height: auto;
}*/